<% for (var i = 0; i < 4;  i++ ) { %>
  <div class="playerbox" id="player<%= i %>box" style="top: <%= playerboxStartPos[i].top %>px; left: <%= playerboxStartPos[i].left %>px; z-index: -1;"></div>
<% } %>
