<div class='card deck' id='cardDeck'><button type="button" class="btn btn-primary btn-lg shuffleButton" style="width: 78px;" value='20'>Shuffle</button></div>
<% for (var i = 0; i < 64; i++) { -%>
    <div class='card door' id='card<%= i %>'><img src='/img/crp/bf.png'></div>
<% } -%>
<div class='sharedPlayerbox'></div>