<% for (var i = 0; i < 6;  i++ ) { %>
  <div class="playerbox" id="scaledProjectionBox<%= i %>" style="top: <%= playerboxStartPos[i].top %>px; left: <%= playerboxStartPos[i].left %>px"></div>
<% } %>
  