<div>
	<% for (var i =0; i <10;  i++ ) { %>
		<div class='card ballot' id='ballotja<%= i %>'><img src='/img/sh/ja-l.png'/></div>
		<div class='card ballot' id='ballotnein<%= i %>'><img src='/img/sh/nein-l.png'/></div> 
	<% } %>
<div class='card token' id='presidenttoken'><img src='/img/sh/president-token.png'></div>
<div class='card token' id='chancellortoken'><img src='/img/sh/chancellor-token.png'></div>
</div>