<div class='card deck rolecardsdeck' id='rolecardsstart'><button type="button" class="btn btn-primary btn-lg shuffleButton" style="width: 110px;">Shuffle</button></div>
<div class='card deck rolecardsdeck' id='rolecardsliberals'>Liberals</div>
<div class='card deck rolecardsdeck' id='rolecardsfascists'>Fascists</div>
<div class='card deck policydeck' id='policydeck1'><button type="button" class="btn btn-primary btn-lg shuffleButton" style="width: 110px;">Shuffle</button></div>
<div class='card deck policydeck' id='policydeck2'><button type="button" class="btn btn-primary btn-lg shuffleButton" style="width: 110px;">Shuffle</button></div>
<div class='card deck rolecardsdeck' id='inpsectorbox0'>Inspector</div>