<div class='card policy' id='hRoleCard'><img src='/img/sh/partymembership.png'/></div>
<% for (var i = 0; i < 6;  i++ ) { %>
	<div class='card policy' id='lRoleCard<%= i %>'><img src='/img/sh/partymembership.png'/></div>
<% } %>
<% for (var i = 0; i < 3;  i++ ) { %>
	<div class='card policy' id='fRoleCard<%= i %>'><img src='/img/sh/partymembership.png'/></div>
<% } %>