<div class="card deck track" id="liberaltrack"><img src="/img/sh/liberaltrack.png"/><div class='openbox' id='liberalOpenbox'></div></div>
<div class="card deck track" id="fascisttrack56"><img src="/img/sh/fascisttrack56.png"/><div class='openbox' id='fascistOpenbox56'></div></div>
<div class="card deck track" id="fascisttrack78"><img src="/img/sh/fascisttrack78.png"/><div class='openbox' id='fascistOpenbox78'></div></div>
<div class="card deck track" id="fascisttrack910"><img src="/img/sh/fascisttrack910.png"/><div class='openbox' id='fascistOpenbox910'></div></div>