<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<!-- <meta name="viewport" content="width=device-width,user-scalable=no"> -->
<title>Dixit Sandboard</title>

<!-- Bootstrap CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/css/common.css" rel="stylesheet" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
<script src='/js/bootstrap.min.js'></script>
<script src="/js/dx/dx.js"></script>
<script src="/js/bundle.js"></script>

<style>

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

body
{
  background-color: #040013;
  
}

.scaleplane
{
  position: absolute;
  top: 0px;
  left: 0px;
  transform-origin: 0 0;
}


.number
{
    background-color: #f4a460;
    font-size: 30px;
    font-weight: bold;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 3px solid black;
    text-align: center;
    line-height: 44px;
    color: black;
}

.cursor
{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid black;
  z-index: 1000;
  display: none;
}

.playerbox
{
  position: absolute;
  z-index: 1;
  display: none;
}

.tile
{
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  padding: 5px;
  font-size: 24px;
  font-family: "Arial", sans;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
}

.webcambox
{
  position: relative;
  padding: 8px;
  border-radius: 6px;
  background-color: #cccccc;
  border: 1px solid black;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}

.webcamContainer
{
  transform-origin: 50% 0
}

#scorebox0
{
  top: 215px;
  left: 250px;
}

#scorebox1
{
  top: 950px;
  left: 1850px;
}

#scorebox2
{
  top: 215px;
  left: 1850px;
}

#scorebox3
{
  top: 950px;
  left: 250px;
}

#scorebox4
{
  top: 579px;
  left: 250px;
}

#scorebox5
{
  top: 579px;
  left: 1850px;
}



.webcamContainer video
{
  height: 180px;
}

.webcam
{
  height: 180px;
}

.card
{
  position: absolute;
  z-index: 0;
  transform-origin: 0 0;
}

.deck
{
  background-color: rgba(128, 128, 128, 0.535);
  width: 134px;
  height: 236px;
}

#voteDeck
{
  width: 462px;
}

.playerVault
{
  z-index: 100000;
  position: absolute;
  top: 658px;
  left: 320px;
}

.cardOpenbox
{
  position: absolute;
  /* top: 236px; */
  top: 0px;
  left: 320px;
}

.moveBtn
{
  z-index: 2000;
  padding: 8px;
  border: 1px solid black;
  border-radius: 6px;
  background-color: white;
  top: -5px;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}


.openbox
{
  position: fixed;
  /*border: 1px solid #77ff77;*/
}

.playerbox
{
  position: absolute;
  border: 3px solid white;
  opacity: 0.6;
  width: 320px;
  height: 105px;
}

.points
{
  font-size: 15px;
  display:inline-block;
  position:relative; 
  left:2px; 
  top: 8px;
}

.touchbox
{
  background-color: #CCCCCC;
  opacity: 0.5;
  border: 1px solid orange;
  border-radius: 11px;
  width: 68px;
  height: 68px;
  z-index: 2;
}

.sharedPlayerbox
{
  display: none;
  background-color: #00ffff;
  z-index: 100000;
  position: absolute;
  top: 540px;
  left: 480px;
  width: 1440px;
  height: 540px;
}

.scoring
{
  color: white;
  position: absolute;
  font-size: 25px;
  top: 1090px;
  left: 10px;
}


</style>