<div class='card' id="building_costs">
    <table>
        <tr>
            <th>Building</th>
            <th>Victory points</th>
            <th>Cost</th>
        </tr>
        <tr>
            <td>Road</td>
            <td>0</td>
            <td><img src="/img/soc/brick_ff.png"/><img src="/img/soc/wood_ff.png"/></td>
        </tr>
        <tr>
            <td>Settlement</td>
            <td>1</td>
            <td><img src="/img/soc/brick_ff.png"/><img src="/img/soc/wood_ff.png"/><img src="/img/soc/wheat_ff.png"/><img src="/img/soc/wool_ff.png"/></td>
        </tr>
        <tr>
            <td>City</td>
            <td>2</td>
            <td><img src="/img/soc/wheat_ff.png"/><img src="/img/soc/wheat_ff.png"/><img src="/img/soc/ore_ff.png"/><img src="/img/soc/ore_ff.png"/><img src="/img/soc/ore_ff.png"/></td>
        </tr>
        <tr>
            <td>Development Card</td>
            <td>?</td>
            <td><img src="/img/soc/wool_ff.png"/><img src="/img/soc/wheat_ff.png"/><img src="/img/soc/ore_ff.png"/></td>
        </tr>
    </table>
</div>