<div class='card' id="development_cards">
    <table>
        <tr>
            <td><img src="/img/soc/knight_ff.png"/></td>
            <td>Move the robber.</td>
        </tr>
        <tr>
            <td><img src="/img/soc/roadbuilding_ff.png"/></td>
            <td>Build 2 roads.</td>
        </tr>
        <tr>
            <td><img src="/img/soc/yearofplenty_ff.png"/></td>
            <td>Draw 2 resource cards of your choice from the bank.</td>
        </tr>
        <tr>
            <td><img src="/img/soc/monopoly_ff.png"/></td>
            <td>Claim all resource cards of a specific declared type.</td>
        </tr>
        <tr>
            <td><img src="/img/soc/victorypoint_ff.png"/></td>
            <td>1 additional Victory Point is added to the owners total.</td>
        </tr>
    </table>
</div>