<div class='card' id="longest_road">
    <span>Longest Road</span><br>
    <span>2 Victory Points!</span><br>
</div>
<div class='card' id="largest_army">
    <span>Largest Army</span><br>
    <span>2 Victory Points!</span><br>
</div>