<div class='card deck rolecardsdeck' id='startDeck'><button type="button" class="btn btn-primary btn-lg shuffleButton" style="width: 110px;">Shuffle</button></div>
<div class='card deck rolecardsdeck' id='remainingDeck'>Other players</div>

<%- include ('../../common/textCard', {id: "f0", cardFaceClass: "playcard", textClass: "", secTextClass:""}); -%>

<% for (var i = 0; i < 9; i++) { -%>
  <%- include ('../../common/textCard', {id: "r" + i, cardFaceClass: "playcard", textClass: "", secTextClass:""}); -%>
<% } -%>