<div class='card' id='charactersCard'>
  <table>
    <tr>
      <td style="background-color: #d8d8d8"><span class="characterTitle">1). Assassin:</span> Announce a character you wish to murder. The murdered character misses his entire turn.</td>
      <td style="background-color: #83cbff"><span class="characterTitle">5). Bishop:</span> You receive one gold for each religious (blue) district in your city. Your districts may not be destroyed by the Warlord.</td>
    </tr>
    <tr>
      <td style="background-color: #d8d8d8"><span class="characterTitle">2). Thief:</span> Announce a character from whom you wish to steal. When the player with this card is revealed, take his gold.</td>
      <td style="background-color: #86f586"><span class="characterTitle">6). Merchant:</span> You receive one gold for each trade (green) district in your city. After you take an action, you receive one extra gold.</td>
    </tr>
    <tr>
      <td style="background-color: #d8d8d8"><span class="characterTitle">3). Magician:</span> You may exchange your cards with another player, or discard any number of cards and draw an equal number of cards.</td>
      <td style="background-color: #d8d8d8"><span class="characterTitle">7). Architect:</span> After you take an action, draw two extra cards and put both in your hand. You may build up to three districts during your turn.</td>
    </tr>
    <tr>
      <td style="background-color: #f6ff6a"><span class="characterTitle">4). King:</span> You receive one gold for each noble (yellow) district in your city. When the King is called, you immediately receive the crown marker.</td>
      <td style="background-color: #f78888"><span class="characterTitle">8). Warlord:</span> You receive one gold for each military (red) district in your city. You may pay to destroy one district of your choice.</td>
    </tr>
  </table>
</div>