<% for (var i = 0; i < 25; i++) { -%>
  <div class='card' id='gold<%= i %>'><img style='height: 40px' src='/img/ctd/gold.svg'/></div>
<% } -%>
<div class='card' id='crown'><img style='width: 155px' src='/img/ctd/crown.svg'/></div>