<div class="card" id="cheatsheet">
  <ul>
    <li><span class="textRank">B:</span> <span class="textInfo">Bomb</span> - Immovable; defeats any atacking piece except Miner (3).</li>
    <li><span class="textRank">10:</span> <span class="textInfo">Marshal</span> - Can capture all other pieces except the bomb, can be captured by the Spy if the Spy attacks first.</li>
    <li><span class="textRank">9:</span> <span class="textInfo">General</span> - Can capture all lower ranked pieces.</li>
    <li><span class="textRank">8:</span> <span class="textInfo">Colonel</span> - Can capture all lower ranked pieces.</li>
    <li><span class="textRank">7:</span> <span class="textInfo">Major</span> - Can capture all lower ranked pieces.</li>
    <li><span class="textRank">6:</span> <span class="textInfo">Captain</span> - Can capture all lower ranked pieces.</li>
    <li><span class="textRank">5:</span> <span class="textInfo">Lieutenant</span> - Can capture all lower ranked pieces.</li>
    <li><span class="textRank">4:</span> <span class="textInfo">Sergeant</span> - Can capture all lower ranked pieces.</li>
    <li><span class="textRank">3:</span> <span class="textInfo">Miner</span> - Can defuse bombs; can capture all lower ranked pieces.</li>
    <li><span class="textRank">2:</span> <span class="textInfo">Scout</span> - Can move any distance in a straight line, without leaping over pieces / lakes; can capture the Spy.</li>
    <li><span class="textRank">S:</span> <span class="textInfo">Spy</span> - Can defeat the Marshal (10), but only if the Spy makes the attack.</li>
    <li><span class="textRank">F:</span> <span class="textInfo">Flag</span> - Immovable; its capture ends the game.</li>
  </ul>
</div>