<div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="resetModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" id="resetGameBtn" class="btn btn-primary btn-lg" style="width: 110px;">RESET</button><br>
        <button type="button" id="takeSnapshotBtn" class="btn btn-secondary btn-lg" style="width: 180px;">Take Snapshot</button>
        <button type="button" id="recoverSnapshotBtn" class="btn btn-secondary btn-lg" style="width: 180px;">Recover Snapshot</button><br>
        <button type="button" id="startCaptureBtn" class="btn btn-success btn-lg" style="width: 180px;">Start Capture</button>
        <button type="button" id="startWatchPartyBtn" class="btn btn-success btn-lg" style="width: 180px;">Start Watch Party</button><br>
        <button type="button" id="pauseBtn" class="btn btn-primary btn-lg" style="width: 180px;">Pause</button>
        <button type="button" id="resumeBtn" class="btn btn-secondary btn-lg" style="width: 180px;">Resume</button><br>
        <button type="button" id="shuffleSeating" class="btn btn-primary btn-lg" style="width: 180px;">Shuffle Seating</button>
      </div>
    </div>
  </div>
</div>