<div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="resetModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" id="resetGameBtn" class="btn btn-primary btn-lg" style="width: 110px;">RESET</button>
      </div>
    </div>
  </div>
</div>