<div class="scorebox" id="walletScorebox<%= scoreboxId %>" style="background-color: #CCCCCC; padding: 5px; position: absolute; z-index: 3000000; border-radius: 5px; display: none;" value="<%= scoreboxId %>">
    <div class="scoreboxText" id="walletScorebox<%= scoreboxId%>_text" style="text-align: center; width: 100%; font-weight: normal; font-size: 25px; padding: 3px; border-radius: 3px; background-color: #000000; color: #FF0000;">0</div>
</div>