<div class="webcambox moveable" id='watchPartyBox' style="display:none;">
  <div class='webcamContainer'>
    <div id="watchParty"></div>
  </div>
</div>
<div class="card moveBtn" id="watchPartyMoveBtn" style="display:none;"><img src="/img/lobby/move.png"/></div>