<div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="welcomeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class='welcomeButtons'>
        Choose your color:
          <div class="colorSelectionContainer"></div>
          <div class="form-group">
        <label for="nameInput">Name:</label>
        <input type="name" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Enter name">
      </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="enterGameBtn" class="btn btn-primary btn-lg" style="width: 110px;">OK</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="resetWebcamModal" tabindex="-1" role="dialog" aria-labelledby="resetWebcamModalModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" id="resetWebcamBtn" class="btn btn-primary btn-lg" style="width: 166px;">RESET Webcam</button>
        </div>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>