<div class="gamecard" id='gamecard0'>
	<a href='sh'><img src='/img/sh/logo.png'/></a>
</div>
<div class="card moveBtn" id="gamecardMoveBtn0"><img src="/img/lobby/move.png"/></div>

<div class="gamecard" id='gamecard1'>
	<a href='sy'><img src='/img/sy/scotland-yard.svg'/></a>
</div>
<div class="card moveBtn" id="gamecardMoveBtn1"><img src="/img/lobby/move.png"/></div>

<div class="gamecard" id='gamecard2'>
  <a href='cah'><img src='/img/cah/cah.png'/></a>
</div>
<div class="card moveBtn" id="gamecardMoveBtn2"><img src="/img/lobby/move.png"/></div>

<div class="gamecard" id='gamecard3'>
  <a href='rmk'><img src='/img/rmk/rummikub.svg'/></a>
</div>
<div class="card moveBtn" id="gamecardMoveBtn3"><img src="/img/lobby/move.png"/></div>

<div class="gamecard" id='gamecard4'>
  <a href='ctd'><img src='/img/ctd/citadels.svg'/></a>
</div>
<div class="card moveBtn" id="gamecardMoveBtn4"><img src="/img/lobby/move.png"/></div>

<div class="gamecard" id='gamecard5'>
  <a href='fkar'><img src='/img/fkar/fake_artist.svg'/></a>
</div>
<div class="card moveBtn" id="gamecardMoveBtn5"><img src="/img/lobby/move.png"/></div>

<div class="gamecard" id='gamecard6'>
  <a href='strg'><img src='/img/strg/stratego.svg'/></a>
</div>
<div class="card moveBtn" id="gamecardMoveBtn6"><img src="/img/lobby/move.png"/></div>

<div class="gamecard" id='gamecard7'>
  <a href='scbl'><img src='/img/scbl/scrabble.svg'/></a>
</div>
<div class="card moveBtn" id="gamecardMoveBtn7"><img src="/img/lobby/move.png"/></div>

<div class="gamecard" id='gamecard8'>
  <a href='soc'><img src='/img/soc/settlersOfCatan.svg'/></a>
</div>
<div class="card moveBtn" id="gamecardMoveBtn8"><img src="/img/lobby/move.png"/></div>

<div class="gamecard" id='gamecard9'>
  <a href='pm'><img src='/img/pm/pickomino.svg'/></a>
</div>
<div class="card moveBtn" id="gamecardMoveBtn9"><img src="/img/lobby/move.png"/></div>

<div class="gamecard" id='gamecard10'>
  <a href='mk'><img src='/img/mk/munckin_lobby_icon.svg'/></a>
</div>
<div class="card moveBtn" id="gamecardMoveBtn10"><img src="/img/lobby/move.png"/></div>