<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<!-- <meta name="viewport" content="width=device-width,user-scalable=no"> -->
<title>Chat Lobby</title>

<!-- Bootstrap CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
<script src='/js/bootstrap.min.js'></script>
<script src="/js/lobby/lobby.js"></script>
<script src="/js/bundle.js"></script>

<style>

img, html {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

body
{
	background-color: #ffc599;
	background-image: url("/img/lobby/45-degree-fabric-dark.png");
}

.nOfPlayersText
{
	position: absolute;
    font-size: 20px;
    display: block;
    bottom: 0px;
    right: 0px;
	padding: 5px;
	background-color: black;
	color:white;
	border-radius: 5px;
	line-height: 17px;
    font-family: sans-serif;
    font-weight: bold;
}

.scaleplane
{
	position: absolute;
	top: 0px;
	left: 0px;
	transform-origin: 0 0;
}

.cursor
{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	border: 1px solid black;
	z-index: 1000;
  display: none;
}

.webcambox
{
	position: absolute;
	padding: 8px;
	border-radius: 6px;
	background-color: #cccccc;
	border: 1px solid black;
	-webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}

.webcamContainer
{
	transform-origin: 50% 0
}


.card
{
	position: absolute;
}


.moveBtn
{
	z-index: 2000;
	padding: 8px;
	border: 1px solid black;
	border-radius: 6px;
	background-color: white;
	top: -5px;
	-webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}

.gamecard
{
	position: absolute;
	padding-left: 32px;
}

</style>