<% for (var i =0; i <20;  i++ ) { %>
	<div class="webcambox" id='webcambox<%= i %>'>
		<div class='webcamContainer'>
			<div id="webcam<%= i %>"></div>
		</div>
	</div>
	<div class="card moveBtn" id="webcamMoveBtn<%= i %>"><img src="/img/lobby/move.png"/></div>
<% } %>