<% for (var i =0; i <6;  i++ ) { %>
	<div class='card deck' id='taxiDeck<%= i %>'></div>
<% } %>
<% for (var i =0; i <6;  i++ ) { %>
	<div class='card deck' id='busDeck<%= i %>'></div>
<% } %>

<% for (var i =0; i <6;  i++ ) { %>
	<div class='card deck' id='metroDeck<%= i %>'></div>
<% } %>