<div class='card pion' id='pion-red'><img src='/img/sy/pion-red.svg'/></div>
<div class='card pion' id='pion-green'><img src='/img/sy/pion-green.svg'/></div>
<div class='card pion' id='pion-blue'><img src='/img/sy/pion-blue.svg'/></div>
<div class='card pion' id='pion-orange'><img src='/img/sy/pion-orange.svg'/></div>
<div class='card pion' id='pion-white'><img src='/img/sy/pion-white.svg'/></div>
<div class='card pion' id='pion-yellow'><img src='/img/sy/pion-yellow.svg'/></div>