<div id="guessplane">
  <canvas id="tlsGuessCanvas" width="700" height="900"></canvas>
  <div class="guessArea">
    <label id="guessLabel" for="guess">What is this?:</label><br>
    <input type="text" id="guess" name="guess">
    <button class="btn btn-primary" id="submitGuessBtn">Submit</button>
  </div>
</div>